article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 1px solid black;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

