
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 500px) {
	p {
		display: none;
	}
}
.grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.row {
	margin: 20px 0 20px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
h1 {
	margin: 10px 0 0 10px;
	text-align: right;
	color: rgba(98,93,93,1);
	text-transform: uppercase;
}
.line1 {
	font-size: 50px;
	font-weight: 100;
	margin:0 0 0 0;
}
.line2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}
#row2 {
	margin: 20px 0 0 0;
}
#row3 {
	margin: 5px 0 20px 0;
}
h2 {
	margin: 0 0 0 0;
	font-size: 30px;
	color: #9E9E9E;
	font-weight: lighter;
}
.bottomimgs {
	display: block;
	margin: 0 auto;
}
h3 {
	margin: 10px 0 10px 0;
	text-align: center;
	font-size: 30px;
	color: rgba(98,93,93,1);
	font-weight: lighter;
}
.line5 {
	text-align: center;
}
#centerimage {
	margin: 30px 0 10px 0;
}
#row1 {
	border-top: 5px solid lightgrey !important;
}